<style type="text/css">
*{
	box-sizing:border-box;
}
body {
margin:0;
padding:0;
background-color:#FCD0D2;
background-image: url("kitten.jpg");
background-repeat: repeat;
background-attachment: fixed;
opacity: 0.9;
text-align: center;
}

h1 {
	position: relative;
	left: auto;
	text-align: center;
  font-family:Tahoma, Geneva, sans-serif;
  color:#F88389;
  background:#66FFFF;

}
h2 {
  position: relative;
	text-align: right;
	background-color:#66FFFF;
	font-family:Tahoma, Geneva, sans-serif;
  font-size:175%;
	color:#F7737A;
  padding:5px 10px 5px 10px;
  font weight:bold;
}
div2 {
border: 1px dotted;
			background:;
			color:#66FFFF;
			margin: 1px;
			overflow: auto;
}
div3{
			border: 1px dotted;
			background: ;
			color:#66FFFF;
			margin: 1px;
			overflow: auto;  
}
section{
	position: relative;
	text-align: center;
	background-color: #98ADAD;
	font-family:Tahoma, Geneva, sans-serif;
	color: #D8E0E0;
  font size: 120%;
  padding:5px, 10px, 5px, 10px;
  height:200px;
  font weight:800;

}
/*Large Devices*/
@media(min-width: 992px){
			div2,div3{
				float: left;
				width: 32.5%;
			}
		}
/*Tablet Devices*/

			@media(min-width: 768px) and (max-width: 991px){
			div2{
				float: left;
				width: 49%;
			}
			div3{
				float: left;
				width: 98.5%;
			}
		}
/*Phones*/

		@media(max-width: 767px){
			div2,div3{
				float: left;
				width: 100%;
			}
		}
</style>
